html,body {
    height: 100vh;
}

body>footer {
    position: sticky;
    top: 100vh;
}
.main {
    height: 100%;
    min-height: 100%;
    flex-grow: 1;
}
.main-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    max-width: 50%;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    }
.align-in-middle {
    text-align:center;
}
.inner-img {
    max-width: 40%;
    max-height: 40%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


